@import "tailwindcss";

@theme{
  --color-jovi-preto: #1e1e1e;
  --color-jovi-azul: #4481f8;
  --color-jovi-vermelho: #ff383c;
  --color-jovi-cinza: #757575;
  --color-jovi-amarelo: #ffcc00;
  --color-jovi-claro: #f2f2f2;
  --font-sen: "Sen", system-ui, sans-serif;
}

body{
  font-family: var(--font-sen);
  background: #111;
}